.gallery {
    background-color: black;
     margin: auto;
     width: 80vw;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     list-style-type: none;
}

.thumbnail {
  min-width: 25%;
  max-width: 25%;
  height: 100%;
}

.thumbnail img {
    object-fit: cover;
    width: 100%;
    background-color: black;

}

.img_dscr {
    background-color: black;
    font-weight: bold;
    height:25%;
    font-size: 2vh;
    padding: 0 2vh 3vh 0.5vh;
    color: rgb(134, 134, 134);

}


.popup {
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.hidden {
    display: none;
}


.popup img {
    max-width: 100%;
    height: auto;
    display: inline-block;

}

.popup_close {
    position: absolute;
    top: -0.5vw;
    right: -3vw;
    background: none;
    font-size: 4vw;
    color :rgb(207, 202, 202);
}

.popup_arrow {
    position: absolute;
    top: 50%;
    background: none;
    font-size: 5vw;
    color :rgb(207, 202, 202);
}

.arrow_left {
    width: 0; 
    height: 0; 
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;   
    border-right:4vw solid; 
    left: -5vw
  }

.arrow_right {
    width: 0; 
    height: 0; 
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-left: 4vw solid;
    right: -5vw
  }

