.header__main {
    height: 20vh;
    display:flex;
    justify-content: center;
}

.logo {
    width: 48vh;
    height: 22vh;
    margin: auto;
    background-image: url(../img/LOGO\ REKONSTRUKCJA.\ GOOD\ 2psd\ copy.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.menu_main {
    width: 95vw;
    margin: auto;

}

.menu_sm {
    width:80vw;
    margin: auto;
}

.section_sm {
    width:80vw;
    margin: auto;
}
ul {
    margin-left: 1vh;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul a {
    padding-top: 2vh;
    display: block;
    text-transform: none;
    text-decoration: none;
    font-size: 1.8vw; 
    color: rgb(207, 202, 202);
    padding-bottom: 1vh;
    font-weight: bold;
    letter-spacing: 0.4vh;
}

ul a:hover{
    color: rgb(50, 50, 50);
}

.mobile-nav-toggle {
    display: none;
}


@media (max-width: 800px){

    .logo {
        margin-bottom: 5vh;
    }
    .nav-link {
        font-size: 30px;
    }

    .primary-navigation {
        z-index: +1;
        display: none;
        background-color: rgb(134, 134, 134);
        width: 100vw;
        height: 80vh;
        left:0;

    }

    .primary-navigation li {
        
    }

    .primary-navigation[data-visible] {
        display: block;
        position: fixed;


    }
    .mobile-nav-toggle{
        cursor: pointer;
        background-color: transparent;
        border: 0;
        padding: 0.5em;
        display: block;
        position: fixed;
        top: 2%;
        left:85%;
    }
    
    .mobile-nav-toggle .icon-close {
        display: none;
    }
}

.opened {
    display: block;
    position: fixed;
}