.header__main {
    height: 20vh;
    display:flex;
    justify-content: center;
}

.logo {
    width: 60vh;
    height: 22vh;
    margin: auto;
    background-image: url(../img/LOGO\ REKONSTRUKCJA.\ GOOD\ 2psd\ copy.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.menu_main {
    width: 95vw;
    margin: auto;

}

.menu_sm {
    width:80vw;
    margin: auto;
}
ul {
    margin-left: 1vh;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul a {
    padding-top: 5vh;
    display: block;
    text-transform: none;
    text-decoration: none;
    font-size: 1.8vw; 
    color: rgb(207, 202, 202);
    padding-bottom: 1vh;
    font-weight: bold;
    letter-spacing: 0.4vh;
}

ul a:hover{
    color: rgb(50, 50, 50);
}