.header_subsite {
  display: flex;
  justify-content: center;
}
.logo_subsite {
  width: 27vw;
  height: 9vh;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.logo_about {
  background-image: url(/html/About/img/LOGO\ ABOUT.jpg);
}
.logo_film {
  background-image: url(../html/Film/img/LOGO\ FILM.jpg);
}

.logo_tv {
  background-image: url(../html/TV/img/LOGO\ TV.jpg);
}

.logo_theatre {
  background-image: url(../html/Theatre/img/LOGO\ TEATR.jpg);
}

.logo_graphic {
  background-image: url(../html/Graphic/img/LOGO\ GRAFIC.jpg);
}

.logo_multimedia {
  background-image: url(../html/Multimedia/img/LOGO\ MULTIMEDIA.jpg);
}

.logo_contact {
  background-image: url(../html/Contact/img/contact\ LOGO.jpg);
  
}

/* AboutUs */

.about_main {
  padding: 10vh 6vw 10vh 6vw;
  background-color: #646464;
  color: rgb(207, 202, 202);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 3vh;
}

.about_button {
  width: 50%;
  height: 10vh;
  align-items: center;
  justify-content: center;
  color: rgb(207, 202, 202);
}

.about_realizations {
  background-color: #0b585e;

}
.about_prizes {
  background-color: #043465;
}

.about_button_text {
  height: 30%;
  font-weight: 600;
  letter-spacing: 1vw;
}

/* Popup AboutUS  */

.awards_big {
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: rgb(207, 202, 202);
}

.realizations_big {
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: rgb(207, 202, 202);
}


.about_list {
  color: rgb(207, 202, 202);
  margin-bottom: 10vh;
}

.about_list>h1 {
  font-size: 2vh;
  font-style: italic;
  margin-top: 3vh;
}
.about_list>p {
  font-size: 1.2vh;
  margin-top: 0.2vh;
  margin-bottom: 0.2vh;
}




/* Gallery */
.gallery {
  background-color: black;
  margin: auto;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.thumbnail {
  min-width: 25%;
  max-width: 25%;
  height: 100%;
}

.thumbnail img {
  object-fit: cover;
  width: 100%;
  background-color: black;
}

.thumbnail img:hover {
  cursor: pointer;
}

.img_dscr {
  background-color: black;
  font-weight: bold;
  height: 25%;
  font-size: 2vh;
  padding: 0 2vh 3vh 0.5vh;
  color: rgb(162, 161, 161);
  letter-spacing: 2px;
}

.popup {
  align-content: center;
  animation: fadeIn 0.3s;
  background: #5a5a5a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.hidden {
  display: none;
}

.popup img {
  max-height: 80%;
  max-width: 80%;
}
.popup_name {
  position: absolute;
  top:5%;
  left:5%;
  height: 6vh;
  width: 20vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.graphic_dark {
  background-image: url(../html/Graphic/img/LOGO\ GRAPHIC\ DARK.jpg) ;
}

.tv_dark {
  background-image:url(../html/TV/img/TV\ DARK.jpg) ;
}

.theatre_dark {
  background-image: url(../html/Theatre/img/Theatre_Dark.jpg);
}

.multimedia_dark {
  background-image: url(../html/Multimedia/img/mulimedia\ Dark.jpg);
}

.film_dark {
  background-image: url(../html/Film/img/film\ Dark.jpg);
}

.popup_close {
  position: absolute;
  top: 5%;
  right:10%;
  background: none;
  color: rgb(207, 202, 202);
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-right: 4vw solid;
  rotate: 90deg;
}

.popup_arrow {
  position: absolute;
  top: 50%;
  background: none;
  color: rgb(207, 202, 202);
}

.arrow_left {
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-right: 4vw solid;
  left: 3%;
}

.arrow_right {
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-left: 4vw solid;
  right: 3%;
}

