.header_subsite {
  display: flex;
  justify-content: center;
}
.logo_subsite {
  width: 36vw;
  height: 12vh;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2.5vh;
}
.logo_about {
  background-image: url(/html/About/img/LOGO\ ABOUT.jpg);
}
.logo_film {
  background-image: url(../html/Film/img/LOGO\ FILM.jpg);
}

.logo_tv {
  background-image: url(../html/TV/img/LOGO\ TV.jpg);
}

.logo_theatre {
  background-image: url(../html/Theatre/img/LOGO\ TEATR.jpg);
}

.logo_graphic {
  background-image: url(../html/Graphic/img/LOGO\ GRAFIC.jpg);
}

.logo_multimedia {
  background-image: url(../html/Multimedia/img/LOGO\ MULTIMEDIA.jpg);
}

.logo_contact {
  background-image: url(../html/Contact/img/contact\ LOGO.jpg);
  
}


/* AboutUs */

.about_main {
  padding: 9vh 6vw 9vh 6vw;
  background-color: #646464;
  color: rgb(207, 202, 202);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.8px;
  line-height: 3.5vh;
}

.about_button {
  width: 50%;
  height: 10vh;
  align-items: center;
  justify-content: center;
  color: rgb(207, 202, 202);
}

.about_realizations {
  background-color: #0b585e;

}
.about_prizes {
  background-color: #043465;
}

.about_button_text {
  height: 30%;
  font-weight: 600;
  letter-spacing: 1vw;
}

/* Popup AboutUS  */

.awards_big {
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: rgb(207, 202, 202);
}

.realizations_big {
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: rgb(207, 202, 202);
}


.about_list {
  color: rgb(207, 202, 202);
  margin-bottom: 10vh;
}

.about_list>h1 {
  font-size: 3vh;
  font-style: italic;
  margin-top: 5vh;
}
.about_list>p {
  font-size: 2vh;
  margin-top: 0.8vh;
  margin-bottom: 0.8vh;
}




/* Gallery */
.gallery {
  background-color: black;
  margin: auto;
  margin-bottom: 10vh;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.thumbnail {
  min-width: 25%;
  max-width: 25%;
  height: 100%;
}

.thumbnail img {
  object-fit: cover;
  width: 100%;
  background-color: black;
}

.thumbnail img:hover {
  cursor: pointer;
}

.img_dscr {
  background-color: black;
  font-weight: bold;
  height: 25%;
  font-size: 2vh;
  padding: 0 2vh 3vh 0.5vh;
  color: rgb(162, 161, 161);
  letter-spacing: 2px;
}

.popup {
  align-content: center;
  animation: fadeIn 0.3s;
  background: #5a5a5a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.hidden {
  display: none;
}

.popup img {
  max-height: 80%;
  max-width: 80%;
}
.popup_name {
  position: absolute;
  top:1%;
  left:9%;
  height: 8vh;
  width: 24vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.graphic_dark {
  background-image: url(../html/Graphic/img/LOGO\ GRAPHIC\ DARK.jpg) ;
}

.tv_dark {
  background-image:url(../html/TV/img/TV\ DARK.jpg) ;
}

.theatre_dark {
  background-image: url(../html/Theatre/img/Theatre_Dark.jpg);
}

.multimedia_dark {
  background-image: url(../html/Multimedia/img/mulimedia\ Dark.jpg);
}

.film_dark {
  background-image: url(../html/Film/img/film\ Dark.jpg);
}

.aboutUs_dark {
  background-image: url(../html/About/img/TYTUŁ\ O\ NAS.jpg);
}
.popup_close {
  position: absolute;
  top: 5%;
  right: 3.5%;
  background: none;
  color: rgb(145, 144, 144);
  width: 0;
  height: 0;
  border-top: 1.6vw solid transparent;
  border-bottom: 1.6vw solid transparent;
  border-right: 3.2vw solid;
  rotate: 90deg;
}

.popup_arrow {
  position: absolute;
  top: 50%;
  background: none;
  color: rgb(145, 144, 144);
}

.arrow_left {
  width: 0;
  height: 0;
  border-top: 1.6vw solid transparent;
  border-bottom: 1.6vw solid transparent;
  border-right: 3.2vw solid;
  left: 3.5%;
}

.arrow_right {
  width: 0;
  height: 0;
  border-top: 1.6vw solid transparent;
  border-bottom: 1.6vw solid transparent;
  border-left: 3.2vw solid;
  right: 3.5%;
}

.arrow_play {
  color: red;
  width: 0;
  height: 0;
  border-top: 1.6vw solid transparent;
  border-bottom: 1.6vw solid transparent;
  border-left: 3.2vw solid;
  right: 47.5%;
  top: 47.5%;
}


.popup-title {
  position: absolute;
  top:92%;
  color: rgb(207, 202, 202);
  margin-left: 10vw;
  margin-right: 10vw;
}

@media (max-width: 800px){

  .logo_subsite {
    width: 58vw;
    height: 8vh;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .popup-title{
    top:85%
  }

  .popup_name {
    width:50vw;
    height:20vw
  }
  .toggle-subsite{
    top: 3%
  } 

  .thumbnail {
    min-width: 50%;
  }

  ul a {
    font-size: 20px;
  }
}