@import url(css/letters.css);
@import url(css/nav.css);

* {
    background-color: rgb(134, 134, 134);

    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
} 



.section {
    width: 95vw;
    height: 43vw;
    position: relative;
    margin: auto;
    margin-bottom: 1vh;
    background-size: contain;
    background-repeat: no-repeat;

}

.aboutUs{
    background-image: url(img/O\ NAS.jpg);
    
}

.film {
    background-image: url(img/FILM\ .jpg);
}

.tv {
    background-image: url(img/TELEWIZJA..jpg);
}

.theatre {
    background-image: url(img/TEATR\ .jpg);
}

.grafika {
    background-image: url(img/GRAFIKA.jpg);
}

.multimedia{
    background-image: url(img/MULTIMEDIA\ .jpg);
}

