@import url(media.css);
* {
    background-color: rgb(174, 174, 174);
    margin: 0;
    padding: 0;
} 

.logo {
    width: 505px;
    height: 30px;
    background-image: url(img/LOGOTYP.jpg);
    margin: auto;
    background-size: contain;
}

.section {
    position: relative;
    margin: auto;
    margin-bottom: 50px;
    background-size: contain;
}

.aboutUs{
    background-image: url(img/O\ NAS.jpg);
    
}

.film {
    background-image: url(img/FILM\ .jpg);
}

.tv {
    background-image: url(img/TELEWIZJA..jpg);
}

.theatre {
    background-image: url(img/TEATR\ .jpg);
}

.multimedia{
    background-image: url(img/MULTIMEDIA\ .jpg);
}

.main-link {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 200;
    color: white;
    text-decoration: none;
    letter-spacing: 100px;
    background: none;
    font-size: 70px;
}

.main-link:hover{
    color: red;
}



.filmLetters {
    position: absolute;
    top: 1382px;
    left: 300px;
}

